{% extends 'base.html' %}
{% block title %}Send OTP{% endblock title %}
{% block css %}

{% endblock css %}
{% block content %}

<div class="ltn__login-area pb-65">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="account-login-inner">
                    <form action="{% url 'send_otp' %}" class="ltn__form-box contact-form-box" method="POST">
                        {% csrf_token %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <strong></strong>{{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="field">
                            <label for="phone_number">Enter your phone number</label>
                            <input type="text" id="phone_number" name="phone_number" placeholder="Enter your phone number" required>
                        </div>
                        <div class="field">
                            <input type="submit" value="Send OTP">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> 

{% endblock content %}
