
{% extends 'base.html' %}
{% block title %}HoreHaven-invoice{% endblock title %}
{% block content %}
 <!-- BREADCRUMB AREA START -->
<div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image" data-bs-bg="img/bg/14.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__breadcrumb-inner">
                    <h1 class="page-title">Order Confirmed</h1>
                    <div class="ltn__breadcrumb-list">
                        <ul>
                            <li><a href="index.html"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span> Home</a></li>
                            <li>Invoice</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMB AREA END -->

<!-- CSRF Token -->
{% csrf_token %}

<!-- Messages -->
{% if messages %}
<div class="alert alert-warning alert-dismissible fade show d-print-none" role="alert">
    <strong></strong>
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<!-- Order Confirmation -->
{% comment %} <div class="d-print-none p-5" style="display:flex; justify-content:center;">
    {% if not f %}
    <h1>Order Confirmed</h1>
    {% endif %}
</div> {% endcomment %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <!-- Invoice Title -->
                    <div class="invoice-title">
                        <h4 class="float-end font-size-15">Invoice {{ order.order_id }} <span class="badge bg-success font-size-12 ms-2">Paid</span></h4>
                        <div class="mb-4">
                            <h2 class="mb-1 text-muted">HH</h2>
                        </div>
                        <div class="text-muted">
                            <p class="mb-1">Kinfra Industrial Techno Park, Calicut, PA 15201</p>
                            <p class="mb-1"><i class="uil uil-envelope-alt me-1"></i> HHe-come@gmail.com</p>
                            <p><i class="uil uil-phone me-1"></i> 012-345-6789</p>
                        </div>
                    </div>

                    <hr class="my-4">

                    <!-- Billing Details -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="text-muted">
                                <h5 class="font-size-16 mb-3">Billed To:</h5>
                                <h5 class="font-size-15 mb-2">{{ order.address.fname }} {{order.address.lname}}</h5>
                                <p class="mb-1">{{ order.address.house_name }}, {{ order.address.city }}, {{ order.address.pincode }}</p>
                                <p class="mb-1">{{ user.email }}</p>
                                <p>{{ order.address.contact_number }}</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="text-muted text-sm-end">
                                <div>
                                    <h5 class="font-size-15 mb-1">Invoice No:</h5>
                                    <p>{{ order.order_id }}</p>
                                </div>
                                <div class="mt-4">
                                    <h5 class="font-size-15 mb-1">Invoice Date:</h5>
                                    <p>{{ order.created_at }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <!-- Order Summary -->
                    <div class="py-2">
                        <h5 class="font-size-15">Order Summary</h5>

                        <div class="table-responsive">
                            <table class="table align-middle table-nowrap table-centered mb-0">
                                <thead>
                                    <tr>
                                        <th style="width: 70px;">No.</th>
                                        <th>Item</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th class="text-end" style="width: 120px;">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in orderitems %}
                                    <tr>
                                        <th scope="row">01</th>
                                        <td>
                                            <div>
                                                <h5 class="text-truncate font-size-14 mb-1">{{ item.product.product_name }}</h5>
                                                <p class="text-muted mb-0">{{ item.product.category.category_name }}</p>
                                            </div>
                                        </td>
                                        <td>&#8377; {{ item.product_price }}</td>
                                        <td>{{ item.quantity }}</td>
                                        <td class="text-end">&#8377; {{ item.sub_total }}</td>
                                    </tr>
                                    {% endfor %}

                                    {% if order.coupon_discount %}
                                    <tr>
                                        <th scope="row" colspan="4" class="text-end">Sub Total</th>
                                        <td class="text-end">&#8377; {{ pretotal }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" colspan="4" class="border-0 text-end">Discount :</th>
                                        <td class="border-0 text-end">- &#8377;{{ order.coupon_discount }}</td>
                                    </tr>
                                    {% endif %}

                                    <tr>
                                        <th scope="row" colspan="4" class="border-0 text-end">Total</th>
                                        <td class="border-0 text-end"><h4 class="m-0 fw-semibold">&#8377;{{ total }}</h4></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Download and Print Buttons -->
                        <div class="d-print-none mt-4">
                            <div class="float-end">
                                <span style="margin-right: 10px;">Download invoice</span>
                                <a href="javascript:window.print()" class="btn btn-success me-1"><i class="fa fa-print"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}





